<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="30069NiaTomonaka.356219281D069" Publisher="CN=A5B1B624-0B64-44B9-9815-39BE22557436" Version="1.2.4.0" />
  <mp:PhoneIdentity PhoneProductId="ff287569-73f7-47a9-9b0a-9da1a0e1886d" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>すぱこみっく！ ユニバース</DisplayName>
    <PublisherDisplayName>Nia Tomonaka</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SpacomicUniverse.App">
      <uap:VisualElements DisplayName="すぱこみっく！ ユニバース" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="すぱこみっく！ユニバースは、プログラミング生放送の「すぱこー」及び「すぱこー 焼きそば編」のRSSフィード＆コミックのリーダーアプリです。" BackgroundColor="#15A63F">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="すぱこみっく！">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo" />
            <uap:ShowOn Tile="wide310x150Logo" />
          </uap:ShowNameOnTiles>
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#15A63F" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
          <uap:Rotation Preference="landscape" />
          <uap:Rotation Preference="portraitFlipped" />
          <uap:Rotation Preference="landscapeFlipped" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>